{{- $paginator := .Paginator -}}
{{- if gt $paginator.TotalPages 1 -}}
<nav class="pager" aria-label="Pagination">
  <ul class="pagination">
    {{- with $paginator.Prev -}}
    <li class="pagination__item pagination__item--prev"><a href="{{ .URL }}">Previous</a></li>
    {{- end -}}

    <li class="pagination__item pagination__item--status">Page {{ $paginator.PageNumber }} of {{ $paginator.TotalPages }}</li>

    {{- with $paginator.Next -}}
    <li class="pagination__item pagination__item--next"><a href="{{ .URL }}">Next</a></li>
    {{- end -}}
  </ul>
</nav>
{{- end -}}
