{{- $gaID := "" -}}
{{- with site.Config.Services.GoogleAnalytics.ID -}}
  {{- $gaID = . -}}
{{- end -}}
{{- if and (eq $gaID "") (isset site.Params "googleanalytics") -}}
  {{- $gaID = index site.Params "googleanalytics" -}}
{{- end -}}
{{- if $gaID -}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ $gaID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ $gaID }}');
</script>
{{- end -}}
